@import '@fontsource/sora/300.css';
@import '@fontsource/sora/400.css';
@import '@fontsource/sora/500.css';
@import '@fontsource/sora/600.css';
@import '@fontsource/sora/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .glass-card {
    @apply rounded-card bg-white/90 backdrop-blur border border-slate-100 shadow-soft;
  }
}


